_dist/
Logs/
Temp/
Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
UserSettings/
.vs/

Assets/*
!Assets/Scripts/
Assets/Scripts/*
!Assets/Resources/
Assets/Resources/*

!Assets/Scripts/Tale/
!Assets/Resources/Tale/

*.meta
!Assets/Resources/Tale/Logo.meta

*.prefab
*.asset

.vsconfig
UpgradeLog.htm

ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db